// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #27293D;
$secondary: #BA54F5;
$accent: #42B883;


$dark: #1d1d1d;

$positive: #179935;
$negative: #990e1e;
$info: #31CCEC;
$warning: #d66c00;

@import '~quasar-variables-styl';
