// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #264653;
$secondary: #f4a261;
$accent: #2a9d8f;

$dark: #1d1d1d;

$positive: #179935;
$negative: #bd0f15;
$info: #31CCEC;
$warning: #d66c00;

.apexcharts-menu{
  background-color: #27293d!important;
  border: 0px;
}


@import '~quasar-variables-styl';
