// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #27293D;
$secondary: #5f54f5;
$accent: #f7ab3a;


$dark: #1d1d1d;

$positive: #179935;
$negative: #c02b3c;
$info: #31CCEC;
$warning: #d66c00;

@import '~quasar-variables-styl';
